APP_NAME="Anita Konveksi"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://domainutama.com

APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=id_ID

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=nama_database_hosting
DB_USERNAME=username_database_hosting
DB_PASSWORD=password_database_hosting

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=true

CACHE_STORE=database
QUEUE_CONNECTION=database
FILESYSTEM_DISK=local

DOMAIN_ROUTING_ENABLED=true
PUBLIC_DOMAIN=domainutama.com
STAFF_DOMAIN=staff.domainutama.com

MAIL_MAILER=log
